# --- Windows and Mac files
[Tt]humbs.db
.DS_Store
.php-cs-fixer.cache

# --- Root
/*
!.github
!.gitignore
!composer.json
!composer.lock
!php-cs-fixer
!README.md
!LICENSE

# -- Rules
!Travelopia-WordPress
